.contenedor_producto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(224, 217, 180);
    gap: 20px;
    padding: 20px;
    border-style: hidden;
    border-radius: 50px;
}
.contenedor_producto h2{
    font-size: 30px;
    text-decoration: underline;
}
form .form_producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.form_producto input{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.form_bttn_modificar{
    margin-top: 20px;
}
.contenedor_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.form_bttn_modificar, .form_bttn_eliminar, .form_bttn_agregar{
    font-size: 18px;
    width: 150px;
}