.contenedor_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(211 211 211 / 50%);
    gap: 30px;
    margin: 110px 670px;
    padding: 50px;
    border-style: hidden;
    border-radius: 15px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form_actions{
    margin: 20px;
}

.form_group input{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}