.contenedor_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f59292d0;
    gap: 10px;
    margin: 100px 670px;
    padding: 30px;
    border-style: hidden;
    border-radius: 15px;
    font-family: sans-serif;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_group{
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}

.form_actions{
    margin: 20px;
}

.form_group input{
    margin-bottom: 15px;
    padding: 5px;
}