.contenedor_ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.contenedor_ubicacion h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.mapa {
    border-radius: 10px;
    overflow: hidden;
}    
