<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin | Cafetería 11{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body class="admin-body">

    <aside class="admin-sidebar">

    <div>
        <div class="admin-brand">
            <div class="brand-logo">
                <img src="{{ url_for('static', filename='imagenes/cafeteria_logo.webp') }}" 
                     alt="Logo Cafetería 11" 
                     class="logo-cup">
            </div>

            <h1>Cafetería 11</h1>
            <span>PANEL ADMIN</span>
        </div>
        <nav class="admin-menu">
            <a href="{{ url_for('dashboard.dashboard_reservas') }}" class="admin-link">▣ Reservas</a>
            <a href="{{ url_for('dashboard.dashboard_productos') }}" class="admin-link">🞇 Productos</a>
            <a href="{{ url_for('dashboard.dashboard_ventas') }}" class="admin-link">▥ Ventas</a>
            <a href="{{ url_for('dashboard.dashboard_mas_vendidos') }}" class="admin-link">☆ Más Vendidos</a>
            <a href="{{ url_for('dashboard.dashboard_resenas') }}" class="admin-link">⊞ Reseñas</a>
            <a href="{{ url_for('dashboard.dashboard_estadisticas') }}" class="admin-link">◔ Estadísticas</a>
            <a href="{{ url_for('dashboard.dashboard_historial') }}" class="admin-link">↺ Historial</a>
            <a href="{{ url_for('inicio.pagina_inicio') }}" class="admin-link">Ver como usuario</a>
        </nav>
        <button id="btnLogout" class="logout-link">
                    ↪ Cerrar sesión
        </button>
        <div class="admin-sidebar-footer">
            <script src="{{ url_for('static', filename='js/admin_logout.js') }}"></script>
        </div>
    </aside>

    <main class="admin-main">
        <section class="admin-content">
            {% if request.endpoint != "dashboard.dashboard_ventas" %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-container">
                            {% for category, message in messages %}
                            <div class="toast toast--{{ category }}">
                                <span>{{ message }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %} 
            {% block contenido %}{% endblock %}
        </section>
    </main>

    {% block extra_js %}{% endblock %}
<script src="{{ url_for('static', filename='js/admin_logout.js') }}"></script>
</body>
</html>