{% extends "base_admin.html" %}
{% block title %}Dashboard Productos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard_productos.css') }}">
{% endblock %}

{% block contenido %}
<section class="productos-admin">

    <div class="productos-header">
        <div>
            <h1>Productos</h1>
            <p>Gestiona el menú, precios y stock de Cafetería 11</p>
        </div>

        <a href="{{ url_for('dashboard.agregar_producto') }}" class="btn-nuevo-producto">
            ＋ Agregar producto
        </a>
    </div>

    <div class="productos-table-card">
        <table class="tabla_productos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Tipo</th>
                    <th>Local</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.tipo }}</td>
                    <td>{{ producto.local }}</td>
                    <td>
                        <a href="{{ url_for('dashboard.gestionar_producto', id_producto=producto.id) }}" class="btn-editar">
                            Editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>
{% endblock %}