{% extends "base.html" %}

{% block title %}Recuperar contraseña{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/forgot_password.css')}}">
{% endblock %}

{% block contenido %}
<img src="{{ url_for('static', filename='imagenes/cafeteria_ejemplo.jpg') }}" id='img_portada' alt="cafeteria">

<div class="contenedor_form">
    <form id="form-forgot_password" action="{{url_for('usuarios.manejo_forgot_password')}}" method="post">
            <div class="form_email">
            <label for="email_usuario">Email:</label>
            <div class="form_email_input">
            <input type="email" id="email_usuario" name="email" placeholder="Ingrese su email...">
    </div>
    </div>
            <div class="form_actions">
            <button type="submit">Enviar enlace de recuperación</button>
    </div>
</div>
{% endblock %}