{% extends "base.html" %}

{% block title %}Mi perfil{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/perfil.css')}}">
{% endblock %}

{% block contenido %}
<img src="{{ url_for('static', filename='imagenes/cafeteria_ejemplo.jpg') }}" id='img_portada' alt="cafeteria">

<div class="contenedor_form">
    <h1>Mi Perfil</h1>
    
    <div class="datos-perfil">
        
        <div class="form_nombre">
            <label>Nombre:</label>
            <div class="form_nombre_input">
                <p>{{ usuario.nombre }}</p>
            </div>
        </div>

        <div class="form_apellido">
            <label>Apellido:</label>
            <div class="form_apellido_input">
                <p>{{ usuario.apellido }}</p>
            </div>
        </div>

        <div class="form_email">
            <label>Email:</label>
            <div class="form_email_input">
                <p>{{ usuario.email }}</p>
            </div>
        </div>

        <div class="form_rol">
            <label>Rol:</label>
            <div class="form_rol_input">
                <p class="rol-badge">{{ usuario.rol }}</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}