{% extends "base.html" %}


{% block title %}Productos-Menu{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/producto.css') }}">
{% endblock %}
{% block contenido %}
<div class="contenedor_productos_menu">
    {% for producto in productos %}
    <div class="producto">
        </div class= "imagen_producto">
            <img src="{{ url_for('static', filename='imagenes/foto_productos/' + producto.imagen) }}" alt="{{ producto.nombre }}">
        <div class="informacion_producto">
            <h3>{{ producto.nombre }}</h3>
            <p>{{ producto.descripcion }}</p>
            <p>Precio: ${{ producto.precio }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}




