{% extends "base.html" %}
{% block title %}Crear Cuenta{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/register.css')}}">
{% endblock %}
{% block contenido %}
<div class="contenedor_form">
<form action="{{url_for('usuarios.manejo_register')}}" method="post">
    <div class="form_group">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre_usuario" name="nombre" placeholder="Ingrese su nombre...">
    
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido_usuario" name="apellido" placeholder="Ingrese su apellido...">

    <label for="email_usuario">Email:</label>
    <input type="email" id="email_usuario" name="email" placeholder="Ingrese su email...">
        
    <label for="clave_usuario">Contraseña:</label>
    <input type="password" id="clave_usuario" name="clave" placeholder="Ingrese su contraseña...">
    </div>

    <div class="form_actions">
        <button type="submit">Crear cuenta</button>
    </form>
</div>

{% endblock %}