{% extends "base.html" %}

{% block title %}nueva contraseña{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/reset_password.css')}}">
{% endblock %}

{% block contenido %}
<img src="{{ url_for('static', filename='imagenes/cafeteria_ejemplo.jpg') }}" id='img_portada' alt="cafeteria">


<div class="contenedor_form">
    <form action="{{url_for('usuarios.manejo_reset_password')}}" method="post" id="form-reset">
        <input type="hidden" name="token" value="{{ token }}">
            <div class="form_nueva_clave">
            <label for="nueva_clave">Nueva contraseña:</label>
            <div class="form_nueva_clave_input">
            <input type="password" id="nueva_clave" name="nueva_clave" placeholder="Ingrese su nueva contraseña...">
        </div>
        </div>
            <div class="form_confirmar_clave">
            <label for="confirmar_clave">Confirmar contraseña:</label>
            <div class="form_confirmar_clave_input">
            <input type="password" id="confirmar_clave" name="confirmar_clave" placeholder="Confirme su nueva contraseña...">
        </div>
        </div>
            <div class="form_boton_actions">
            <button type="submit">guardar contraseña</button>
        </div>
    </form>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="contenedor-alertas">
      {% for categoria, mensaje in messages %}
        <div class="alerta alerta-{{ categoria }}">
          {{ mensaje }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% endblock %}