{% extends "base.html" %}

{% block title %}nueva contraseña{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/reset_password.css')}}">
{% endblock %}

{% block contenido %}
<div class="contenedor_form">
    <form method="post">
        <div class="form_group">
            <label for="nueva_clave">Nueva contraseña:</label>
            <input type="password" id="nueva_clave" name="nueva_clave" placeholder="Ingrese su nueva contraseña...">

            <label for="confirmar_clave">Confirmar contraseña:</label>
            <input type="password" id="confirmar_clave" name="confirmar_clave" placeholder="Confirme su nueva contraseña...">
        </div>
        <div class="form_actions">
            <button type="submit">guardar contraseña</button>
        </div>
    </form>
</div>
{% endblock %}