{% extends "base.html" %}

{% block title %}Ubicacion - Cafeteria 11{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ubicacion.css') }}">
{% endblock %}



{% block contenido %}

<div class="contenedor_ubicacion">
    <form action="{{url_for('ubicacion.pagina_ubicacion')}}" method="post">
    <h1>Ubicación de Cafeteria 11</h1>
    <p>Estamos ubicados en Av. Paseo Colon 860, Buenos Aires, Argentina.</p>
    <div class="mapa_container">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.4690981296676!2d-58.37080352394292!3d-34.61758407294933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca98f0058631%3A0x98688c83fc192f2e!2sUBA%2C%20Facultad%20de%20Ingenier%C3%ADa%20-%20Sede%20Paseo%20Col%C3%B3n!5e0!3m2!1ses!2sar!4v1780510574210!5m2!1ses!2sar" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    </form>
</div>

{% endblock %}